* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(#031804), color-stop(#033005), color-stop(#055e0a), to(#ffba08));
  background-image: linear-gradient(to bottom, #000000, #031804, #033005, #055e0a, #ffba08);
}

.divmenu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.divmenu__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #b69121;
}

.divmenu__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.divmenu__menu ul li {
  display: inline-block;
}

.divmenu__menu ul li a {
  color: black;
  display: block;
  padding: 10px 80px;
  text-decoration: none;
}

.divmenu__menu ul li a:hover {
  background-color: #e6b421;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
  box-shadow: 11px 11px 6px -2px rgba(0, 0, 0, 0.82);
  -webkit-box-shadow: 11px 11px 6px -2px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: 11px 11px 6px -2px rgba(0, 0, 0, 0.82);
}

.divtitulo {
  text-align: center;
}

.section1 {
  display: -ms-grid;
  display: grid;
}

.section1 .section1__quienessomos {
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 30px;
  background: linear-gradient(150deg, #000000, #037c03, #86007b);
  -webkit-animation: BgGradient 5s ease infinite;
          animation: BgGradient 5s ease infinite;
  background-size: 400% 300%;
  margin-bottom: 30px;
}

.section1 .section1__quienessomos .section1__quienessomos__h1 {
  font-size: 25px;
}

.section1 .section1__quienessomos .section1__quienessomos__p {
  font-size: 20px;
  margin: 20px;
  text-align: justify;
}

@-webkit-keyframes BgGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes BgGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section2 .logo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section2 .opciones {
  margin: 15px;
  width: 100%;
}

.section2 .opciones h2 {
  text-align: center;
  font-size: 50px;
}

.section2 .opciones p {
  text-align: justify;
  font-size: 20px;
}

.section2 .opciones .opciones__link {
  text-decoration: none;
  color: black;
}

@-webkit-keyframes rotacion {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotacion {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.opciones:hover {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  opacity: 30%;
}

.mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-item {
  font-size: 25px;
  color: white;
}

.combos__titulo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #ffba08;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.combos__grid {
  display: -ms-grid;
  display: grid;
  margin: 50px;
  margin-top: 0px;
  -ms-grid-columns: 200px auto;
      grid-template-columns: 200px auto;
  text-align: center;
}

.combos__grid div {
  background-color: green;
  color: #c0b300;
  border: 2px solid black;
  margin: 2px;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-image: url(/img/banner_cerveza3.jpg);
  background-size: 100%;
}

.combos__grid .combo__grid__pizza {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  background-image: url(/img/pizza.jpg);
  background-size: 300%;
  height: 400px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
}

.combos__grid .combos__grid__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.combos__grid .combos__grid__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.combos__grid .combos__grid__3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.combos__grid .combos__grid__4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aprende {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aprende h2 {
  font-size: 25px;
  margin-top: 30px;
  color: #c0b300;
}

.aprende div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  width: 600px;
  height: 50px;
}

.aprende div:hover {
  opacity: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.aprende div a {
  color: black;
  display: block;
  padding: 10px 80px;
  text-decoration: none;
}

.aprende div a:hover {
  color: #d4d803;
  -webkit-transition: 1s;
  transition: 1s;
}

.aprende__1 {
  background-color: #129017;
}

.aprende__2 {
  background-color: #17be1f;
}

.aprende__3 {
  background-color: #24e42c;
}

.aprende__4 {
  background-color: #51ea58;
}

.nueva {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nueva h2 {
  background-color: #007910;
  text-align: center;
  width: 100%;
}

.nueva__frambuesa,
.nueva__roja,
.nueva__irlandesa,
.nueva__uva,
.nueva__negra,
.nueva__alemana {
  height: 200px;
  width: 200px;
  border: 2px, solid, black;
  margin: 20px;
}

.nueva__frambuesa:hover,
.nueva__roja:hover,
.nueva__irlandesa:hover,
.nueva__uva:hover,
.nueva__negra:hover,
.nueva__alemana:hover {
  opacity: 50%;
}

.nueva__frambuesa {
  background-image: url(/img/frambuesa.webp);
  background-size: cover;
  background-position: center;
}

.nueva__roja {
  background-image: url(/img/roja.webp);
  background-size: cover;
  background-position: center;
}

.nueva__irlandesa {
  background-image: url(/img/irlandesa.webp);
  background-size: cover;
  background-position: center;
}

.nueva__uva {
  background-image: url(/img/uva.webp);
  background-size: cover;
  background-position: center;
}

.nueva__negra {
  background-image: url(/img/negra.webp);
  background-size: cover;
  background-position: center;
}

.nueva__alemana {
  background-image: url(/img/alemana.webp);
  background-size: cover;
  background-position: center;
}

.redes_sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

.redes_sociales div {
  margin: 10px;
  margin-bottom: 0px;
}

.footer {
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: grey;
  color: #fff;
  padding-top: 20px;
}

.footer .footer__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer .footer__map h3 {
  padding-bottom: 30px;
}

.footer .footer__map ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer .footer__map ul li {
  display: inline-block;
}

.footer .footer__map ul li a {
  color: #fff;
  display: block;
  padding: 5px 0px;
  text-decoration: none;
}

.footer .footer__map ul a:hover {
  color: #000;
}

.footer .footer__info {
  text-align: center;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30vw;
}

.footer .footer__info h3 {
  padding-bottom: 30px;
}

.footer .footer__info h5 {
  padding: 5px;
}

.footer .footer__newsletter {
  text-align: center;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30vw;
}

.copyrights {
  text-align: center;
  width: 100%;
  background-color: grey;
  color: #fff;
  padding-top: 10px;
}

.content {
  color: white;
  font-family: "Quicksand", sans-serif;
  padding: 0 1.5em;
  padding-bottom: 2em;
  margin-top: 20px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.content .logo__form {
  text-align: center;
  font-size: 3em;
  margin-bottom: 10px;
}

.content .contact-wraper {
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  padding: 2em;
}

.content .contact-wraper .contact-form {
  background: #222222;
}

.content .contact-wraper .contact-form form p {
  margin: 0;
  padding: 1em;
}

.content .contact-wraper .contact-info {
  background: -webkit-gradient(linear, right top, left top, from(#000000), color-stop(#031804), color-stop(#033005), to(#055e0a));
  background: linear-gradient(to left, #000000, #031804, #033005, #055e0a);
}

.content .contact-wraper .contact-info h4,
.content .contact-wraper .contact-info ul,
.content .contact-wraper .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.content .contact-wraper .contact-info ul {
  list-style: none;
  padding: 0;
}

.content .contact-wraper .contact-info ul li {
  padding: 0.3em;
}

.content .contact-wraper > * {
  padding: 1em;
}

.contact-form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contact-form form .block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #1cf300;
}

.contact-form form button {
  background: #1cf300;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
  color: #000;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #0a3d04;
  color: #fff;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  outline: 0;
}

@media (min-width: 700px) {
  .contact-wraper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .contact-wraper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    padding: 1em;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo1 img {
    margin-left: 0px;
    width: 150px;
    height: 150px;
  }
  .divmenu__menu {
    width: 100%;
    text-align: center;
  }
  .divmenu__menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .divmenu__menu li {
    border-top: 1px solid #fff;
    width: 100%;
  }
  .divtitulo img {
    width: 250px;
  }
  .opciones .opciones__link h2 {
    font-size: 40px;
  }
  .opciones .opciones__link p {
    text-align: justify;
    width: 100%;
    font-size: 20px;
  }
  .aprende {
    width: 768px;
  }
  .aprende h2 {
    font-size: 20px;
  }
  .aprende .aprende__1 {
    width: 90vw;
  }
  .aprende .aprende__2 {
    width: 90vw;
  }
  .aprende .aprende__3 {
    width: 90vw;
  }
  .aprende .aprende__4 {
    width: 90vw;
  }
  .titulo__nueva {
    text-align: center;
    font-size: 30px;
  }
  .texto__nueva {
    text-align: center;
    font-size: 20px;
    margin: 0 10px 0 10px;
    padding-bottom: 40px;
  }
  .nueva {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 320px) {
  .mapa img, .mapa iframe {
    width: 100px;
    height: 100px;
  }
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100px 100px;
        grid-template-columns: 100px 100px;
  }
  .footer .footer__map {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .footer .footer__info {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .footer .footer__newsletter {
    padding-top: 20px;
    padding-bottom: 20px;
    width: auto;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .combos__grid {
    display: -ms-grid;
    display: grid;
    margin: 50px;
    margin-top: 0px;
    -ms-grid-columns: 130px 160px;
        grid-template-columns: 130px 160px;
    text-align: center;
    margin-left: 20px;
  }
  .combos__grid div {
    background-color: green;
    color: #c0b300;
    border: 2px solid black;
    margin: 2px;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    background-image: url(/img/banner_cerveza3.jpg);
    background-size: 100%;
  }
  .nueva__frambuesa,
  .nueva__roja,
  .nueva__irlandesa,
  .nueva__uva,
  .nueva__negra,
  .nueva__alemana {
    height: 120px;
    width: 120px;
    border: 2px, solid, black;
    margin: 20px;
  }
  .nueva__frambuesa:hover,
  .nueva__roja:hover,
  .nueva__irlandesa:hover,
  .nueva__uva:hover,
  .nueva__negra:hover,
  .nueva__alemana:hover {
    opacity: 50%;
  }
  .nueva {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #info__konigin .footer__map h3 {
    font-size: 20px;
  }
  #info__konigin .footer__info h3 {
    font-size: 20px;
    margin-bottom: 37px;
  }
  #info__konigin .footer__info h5 {
    font-size: 15px;
  }
  .aprende {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
  .aprende h2 {
    font-size: 15px;
    margin-top: 30px;
    color: #c0b300;
  }
  .titulo__nueva {
    text-align: center;
    font-size: 30px;
  }
  .texto__nueva {
    text-align: center;
    font-size: 20px;
    margin: 0 10px 0 10px;
    padding-bottom: 40px;
  }
}
/*# sourceMappingURL=estilos.css.map */